!! Colorscheme ! special
*.foreground:   #d2c5bc
*.background:   #101010
*.cursorColor:  #d2c5bc

! black
*.color0:       #202020
*.color8:       #606060

! red
*.color1:       #b91e2e
*.color9:       #d14548

! green
*.color2:       #81957c
*.color10:      #a7b79a

! yellow
*.color3:       #f9bb80
*.color11:      #fae3a0

! blue
*.color4:       #356579
*.color12:      #7491a1

! magenta
*.color5:       #5e306c
*.color13:      #87314e

! cyan
*.color6:       #0b3452
*.color14:      #0f829d

! white
*.color7:       #909090
*.color15:      #fff0f0

URxvt.title: urxvt
URxvt.font:          xft:Inconsolata Nerd Font Mono:style=Regular:size=15:antialias=true, xft:DejaVu Sans Mono:size=15:antialias=true
URxvt.cursorColor:  magenta
URxvt.iso14755: false
URxvt.letterSpace: 0
!URxvt.lineSpace: 0
URxvt.internalBorder: 5
URxvt.cursorBlink: true
!URxvt.cursorUnderline: false
URxvt.saveline: 9216
URxvt.scrollBar: false
!URxvt.urgentOnBell: true

!Dont scroll back on new output
URxvt.scrollTtyOutput: false
!scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true
!scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

URxvt.depth: 32
URxvt.background:   [50]#07000a
!URxvt.background:   [80]#07000a

!fake transparency
!URxvt.transparent: true
!Urxvt.shading: 30

!URxvt.modifier: super

!! perl extension urxvt-perls
URxvt.perl-ext:     default,matcher,url-select,keyboard-select,selection-to-clipboard,resize-font
!! url select
URxvt.keysym.M-u:   perl:url-select:select_next
URxvt.url-select.launcher:  /bin/xdg-open
URxvt.url-underline:    true
!! keyboard select
URxvt.keysym.M-Escape:   perl:keyboard-select:activate
URxvt.keysym.C-l:   \033[1;5C
URxvt.keysym.C-h:   \033[1;5D
URxvt.keyboard-select.clipboard:  true
!! matche r
URxvt.url-launcher: /bin/xdg-open
URxvt.matcher.button:   1
!! font resizing
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

!URxvt.bell-command:   notify-send "Beep, Beep"

